<% layout('/layouts/boilerplate.ejs') -%>
<body>
   <div class="col-10 offset-1">
    <h4 class="mt-3"> <b><%= listing.title %></b> </h4>

    <% if(listing.image.length>0) {%>
        <% for(let i=0; i<5; i++)  {%>

                <% if(listing.image[i]){ %>
                <% } else{ %>  
                    <% listing.image[i] = listing.image[0] %>
                <% } %>

            <% } %>

    <div class="row row-cols-sm-2 ">
        <div class="col img-1"> 
            <div class="card col" >
                <img src="<%= listing.image[0].url %>" class="card-img-top-show-main"  alt="listing img" > 
            </div>
         </div>

        <div class="col img-2">
            <div class="row">
                <div class="card col" >
                    <img src="<%= listing.image[1].url %>" class="card-img-top-show-4"  alt="listing img" > 
                </div>
                <div class="card col" >
                    <img src="<%= listing.image[2].url %>" class="card-img-top-show-4"  alt="listing img" > 
                </div>
            </div>

            <div class="row">
                <div class="card col" >
                    <img src="<%= listing.image[3].url %>" class="card-img-top-show-4"  alt="listing img" > 
                </div>
                <div class="card col" >
                    <img src="<%= listing.image[4].url %>" class="card-img-top-show-4"  alt="listing img" > 
                </div>
            </div>
        </div>
    </div>
    <% } %>

    <!-- info and reviews start -->
    <div class="row mt-3">
        <div class="col-8 ok"> 
            <h5><b>Entire rental unit in <%= listing.location %>, <%= listing.country %></b></h5>
            <p>2 guests1 bedroom1 bed1 bathroom</p>
            <p>Hosted By:- <b><%= listing.owner.username %></b> </p>
            <p> <b><%= listing.description %></b> </p>
            <form method="post" action="/listings/<%= listing._id %>?_method=DELETE" >
                 
                <% if(curentUser._id && curentUser._id.toString() == listing.owner._id.toString()) {%>
                <a href="http://localhost:8080/listings/<%= listing._id %>/edit" class="btn btn-success mb-3">Edit</a>
                &nbsp;
                <button class="btn btn-danger mb-3">Delete</button>
                <% } %>
            </form>

            <!-- review from -->
            <% if(curentUser !== "ok") {%><hr>
            <form method="post" action="/listings/<%= listing._id %>/reviews" novalidate class="needs-validation mt-3 mb-3">
                <h4> <br><b>Leave a Reaview</b></h4>

                <!-- star animation -->
                <fieldset class="starability-fade mt-2">
                <input type="radio" id="no-rate" class="input-no-rate" name="review[rating]" value="1" checked aria-label="No rating." />
                <input type="radio" id="second-rate1" name="review[rating]" value="1" />
                <label for="second-rate1" title="Terrible">1 star</label>
                <input type="radio" id="second-rate2" name="review[rating]" value="2" />
                <label for="second-rate2" title="Not good">2 stars</label>
                <input type="radio" id="second-rate3" name="review[rating]" value="3" />
                <label for="second-rate3" title="Average">3 stars</label>
                <input type="radio" id="second-rate4" name="review[rating]" value="4" />
                <label for="second-rate4" title="Very good">4 stars</label>
                <input type="radio" id="second-rate5" name="review[rating]" value="5" />
                <label for="second-rate5" title="Amazing">5 stars</label>
                </fieldset>
 
                <input type="text" name="review[content]" id="content" placeholder="Enter your review" class="form-control" required>
                <button class="btn btn-dark mt-3">Submit</button>
            </form>
            <% } %>
        </div>

        <div class="col-4 ok1">
            <h4><b>&#x20B9;<%= listing.price %></b></h4>
            <div class="calender">
                <div>
                    <label for="check-in" class="form-label">Check-In</label>
                    <input type="date" name="check-in" id="check-in" class="form-control">
                </div>
                 <div>
                    <label for="check-out" class="form-label">Check-Out</label>
                    <input type="date" name="check-out" id="check-out" class="form-control">
                </div>
            </div>
        </div>
    </div>
    <!-- info and reviews end -->
    

    <!-- show reviews -->
     <% if(listing.reviews.length > 0) {%>
        <hr>
     <div class="row  row-cols-md-2 row-cols-xs-1 row-cols-sm-2 reviews mt-3">
        <% for(let review of listing.reviews) {%>
            <div class="col review">
                <form method="post" action="/listings/<%= listing._id %>/reviews/<%= review._id %>?_method=DELETE">
                <p class="username">@ <%= review.owner.username %></p>
                <p class="date"><% for(let i=0; i<review.rating; i++) {%>&#9733;<% }%> <span class="username"><%= review.createdAt.toString().slice(4, 15)%></span></p>
                <p class="content" style="font-weight: 500;"> <%= review.content %> </p>
                <% if(curentUser._id && curentUser._id.toString() == review.owner._id.toString()) {%>
                <button class="btn btn-outline-danger btn-sm">Delete</button>
                <% } %>
                </form>
            </div>
        <% } %>
    </div> <br>
    <hr>
    <% } %>

    <!-- map on show page -->
    <script> const newLocationName = "<%= listing.location %>";</script>
    <div id="map-outer">
        <h4>Where you’ll be</h4>
        <div id="map"></div>
    </div>

   </div>
</body>
































